/* Переменные */
:root {
    --bg-banner: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0.88) 100%), url('img/bg-banner.png'), lightgray 50% / cover no-repeat;
    --basic-black: #222730;
    --special-black: #141820;
    --basic-gray: #2A313C;
    --border-gray: #3B3D46;
    --aside-link: #80858F;
    --text-gray: #999;
    --basic-white: #FFF;
    --accent-blue: #57B8FF;
    --accent-yellow: #FAC422;
}

/* Базовые стили */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-none {
  display: none;
}

.container {
    margin: 0 auto;
    max-width: 540px;
    box-sizing: border-box;
}

.blue-text {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--accent-blue);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 10px 0;
}

.section-title {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 20px 0;
}

.section-text {
    font-size: 16px;
    line-height: 16px;
    color: var(--text-gray);
    margin: 0 0 20px;
}

.blue-btn {
    background: var(--accent-blue);
    padding: 10px;
    color: var(--basic-white);
}

.page-body {
    padding: 0;
    margin: 0;
}

.page-header {
    padding: 20px 10px;
    background: transparent;
    width: 100%;
    position: fixed;
}

.page-header--dark {
    background: var(--basic-black);
    z-index: 10;
}

.page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__left,
.page-header__right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-header__main-nav {
    display: none;
}

.page-left-links {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    background: var(--basic-white);
}

.page-header__toggle {
    border: none;
    background: transparent;
    padding: 0;
}

.burger__icon-burger {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.burger__icon-close {
    display: none;
}

.page-left-links .aside-link {
    background: var(--accent-blue);
    color: var(--basic-white);
    padding: 5px;
}

.burger-menu-off .burger__icon-burger {
    display: flex;
}

.burger-menu-on .burger__icon-burger {
    display: none;
}

.burger-menu-off .burger__icon-close {
    display: none;
}

.burger-menu-on .burger__icon-close {
    display: flex;
}

.burger__element {
    width: 32px;
    height: 4px;
    background: var(--accent-blue);
}

.burger__icon-close svg {
    fill: var(--accent-blue);
}

.site-navigation--off {
    display: none;
}

.site-navigation--on {
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: var(--basic-gray);
}

.main-nav__list {
    padding: 20px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu__link {
    text-decoration: none;
    color: var(--basic-white);
    text-transform: uppercase;
    width: 100%;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.menu__link--active {
    color: var(--accent-yellow);
}

.page-header__basket {
    position: relative;
    width: 47px;
    height: 25px;
    order: 1;
}

.basket-icon {
    position: absolute;
    left: 0;
    width: 25px;
    height: auto;
}

.page-header__basket .amount-buy {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 18px;
    border-radius: 9px;
    background-color: var(--basic-white);
    color: var(--special-black);
    padding: 0 6px;
    font-size: 11px;
    line-height: 18px;
}

.contact-btn {
    height: 25px;
    order: 0;
}

.contact-btn-full {
    display: none;
}

.banner {
    background: var(--bg-banner);
    color: var(--basic-white);
}

.banner__left-wrapper,
.banner__right-wrapper {
    padding: 75px 0 20px 10px;
}

.banner__btn-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.banner__link {
    padding: 10px;
    color: var(--basic-white);
}

.banner__right-wrapper {
    display: none;

}

.character {
    background: var(--basic-gray);
    color: var(--basic-white);
    padding: 0 20px 10px 20px;
}

.character__left-wrapper {
    margin-bottom: 10px;
}

.character__list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.character__btn {
    border: none;
    background: transparent;
    padding: 0;
    height: max-content;
}

.character__btn .character__img {
    border-radius: 20px;
    border: 6px solid transparent;
}

.character__btn--active .character__img {
    border: 6px solid var(--border-gray);
}

.news {
    background: var(--bg-banner);
    color: var(--basic-white);
    padding: 20px 10px;
}

.news__list {
    padding: 0;
    list-style: none;
}

.news__item .news__item-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.news__item .blue-text {
    font-size: 16px;
    line-height: 16px;
}

.news__item .news__item-title {
    font-size: 18px;
    line-height: 18px;
}

.page-footer {
    background: var(--basic-gray);
    color: var(--basic-white);
    padding: 20px 10px 40px 10px;
}

.page-footer__text,
.page-footer__link {
    color: var(--text-gray);
    font-size: 15px;
}

.page-footer__left,
.page-footer__links {
    margin-bottom: 20px;
}

.page-footer__links {
    display: flex;
    justify-content: space-between;
}

.page-footer__group-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 480px) {
    .news__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: none;
    }

    .page-header__toggle {
        display: none;
    }

    .page-header__basket {
        order: 0;
    }

    .contact-btn {
        order: 1;
        height: fit-content;
    }

    .page-header__left {
        gap: 50px;
        width: 70%;
        justify-content: space-between;
    }

    .page-header__right {
        min-width: 180px;
    }

    .contact-btn-mobile {
        display: none;
    }

    .contact-btn-full {
        display: inline-flex;
        padding: 10px;
        border: 1px solid var(--basic-white);
        color: var(--basic-white);
    }

    .page-header__main-nav {
        display: flex;
    }

    .main-nav__list {
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .banner .container,
    .character .container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    .banner__btn-wrapper {
        justify-content: flex-start;
        gap: 20px;
    }

    .banner__left-wrapper .blue-text,
    .banner__left-wrapper .section-title,
    .banner__left-wrapper .section-text {
        margin: 0;
    }

    .banner__left-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .banner__right-wrapper {
        display: block;
        background: var(--accent-blue);
    }

    .section-text {
        max-width: 400px;
    }

    .character {
        padding: 0 20px;
    }

    .character__left-wrapper {
        margin-bottom: 0;
    }

    .character__right-wrapper {
        padding: 50px 0;
    }

    .character__right-wrapper .blue-text,
    .character__right-wrapper .section-title,
    .character__right-wrapper .section-text {
        margin: 0;
    }

    .character__right-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .character__list {
        margin: 0;
    }

    .character__btn {
        height: max-content;
    }

    .news__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .news__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .news__item {
        display: flex;
        flex-direction: column;
        width: 48%;
        gap: 10px;
    }

    .news__item .news__item-img {
        width: 100%;
    }

    .news__item:first-child {
        width: 100%;
    }

    .news__item .news__item-title {
        margin: 0;
    }

    .news__item:first-child .blue-text {
        font-size: 20px;
        line-height: 20px;
    }

    .news__item:first-child .news__item-title {
        font-size: 24px;
        line-height: 24px;
    }

    .page-footer .container {
        display: flex;
        gap: 100px;
    }

    .page-footer__left {
        max-width: 30%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .page-footer__text {
        margin: 0;
    }

    .page-footer__links {
        justify-content: flex-start;
        gap: 100px;
    }
}

@media (min-width: 1200px) {
    .page-header {
        padding: 20px 40px;
    }

    .page-header__left {
        width: 55%;
    }

    .banner .container,
    .character .container {
        gap: 50px;
    }

    .banner__left-wrapper {
        gap: 1.5rem;
    }

    .main-nav__list {
        gap: 10%;
    }

    .menu__link {
        text-transform: none;
    }

    .section-title {
        font-size: 45px;
        line-height: 55px;
    }

    .section-text,
    .banner__link {
        font-size: 18px;
        line-height: 28px;
    }

    .section-text {
        max-width: 600px;
    }

    .banner__left-wrapper,
    .banner__right-wrapper {
        padding: 175px 0 120px 40px;
    }

    .character {
        padding: 0 40px;
    }

    .character__list {
        justify-content: space-between;
    }

    .character__img {
        height: 100%;
    }

    .news {
        padding: 20px 40px;
    }

    .news__list {
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
    }

    .news__list .news__item--top {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .news__list .news__item {
        width: auto;
    }

    .page-footer {
        padding: 20px 40px 40px 40px;
    }
}

@media (min-width: 1440px) {
    .blue-text {
        font-size: 16px;
        line-height: 16px;
    }

    .page-header {
        padding: 27px 60px;
    }

    .page-header__logo .logo-img {
        width: 170px;
        height: auto;
    }

    .page-header__left {
        width: 52.4%;
    }

    .main-nav__list {
        gap: 17%;
        margin-top: -3px;
    }

    .menu__link {
        font-size: 16px;
        line-height: 26px;
    }

    .page-header__right {
        gap: 23px;
    }

    .page-header__basket {
        height: 32px;
    }

    .page-header__basket .amount-buy {
        top: -8px;
        right: -5px;
    }

    .basket-icon {
        width: 32px;
        height: 32px;
    }

    .contact-btn-full {
        font-size: 18px;
        line-height: 30px;
        padding: 15px 35px 15px 33px;
    }

    .banner .container,
    .character .container {
        gap: 100px;
    }

    .banner__left-wrapper {
        padding: 296px 0 250px 60px;
        width: 56%;
    }

    .banner__title {
        font-size: 71px;
        line-height: 86px;
    }

    .banner__right-wrapper {
        padding: 339px 60px 250px 0;
    }

    .page-left-links {
        position: absolute;
        bottom: inherit;
        left: -140px;
        top: 522px;
        transform: rotate(-90deg);
        width: fit-content;
        background: transparent;
        display: flex;
        gap: 49px;
    }

    .page-left-links .aside-link {
        background: transparent;
        color: var(--aside-link);
        text-transform: uppercase;
        font-size: 11px;
        line-height: 25px;
    }

    .banner__left-wrapper {
        gap: 1rem;
    }

    .banner__title {
        position: relative;
        z-index: 2;
    }

    .banner__title::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 165px;
        right: -7px;
        z-index: 1;
        width: 436px;
        height: 17px;
        background: url('img/yellow-line.png') no-repeat;
    }

    .banner__img {
        margin-left: -8%;
        transform: scale(1.15);
    }

    .banner__left-wrapper  .banner__title {
        margin-bottom: 30px;
    }

    .banner__btn-wrapper {
        margin-top: 34px;
    }

    .banner__link {
        padding: 21px 34px;
    }

    .character {
        padding: 0 60px;
    }

    .character .container {
        gap: 127px;
    }

    .character__left-wrapper {
        width: 82.7%;
    }

    .character__right-wrapper {
        padding: 81px 0 80px 0;
        gap: 1rem;
    }

    .character__right-wrapper .character__title {
        font-size: 63px;
        line-height: 74px;
        margin-bottom: 21px;
    }

    .character__right-wrapper .character__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 37px;
    }

    .character__btn .character__img {
        border: 11px solid transparent;
    }

    .character__btn--active .character__img {
        border: 11px solid var(--border-gray);
    }

    .news {
        padding: 130px 60px 110px;
    }

    .news__header {
        margin-bottom: 47px;
    }

    .news__blue-text {
        margin-bottom: 13px;
    }

    .news__title {
        font-size: 64px;
        line-height: 74px;
    }

    .news__header-right {
        margin-top: 108px;
    }

    .news__header-link {
        padding: 24px 34px;
        font-size: 18px;
        line-height: 28px;
    }

    .news__list {
        margin-top: 0;
        gap: 12px;
    }

    .news__item:first-child {
        gap: 25px;
        margin-left: 0;
    }

    .news__item:first-child .news__item-img {
        margin-bottom: 33px;
    }

    .news__item:first-child .blue-text {
        font-size: 18px;
        line-height: 18px;
        text-transform: none;
    }

    .news__item:first-child .blue-text,
    .news__item .blue-text {
        font-size: 16px;
        line-height: 16px;
        text-transform: none;
    }

    .news__item:first-child .news__item-title {
        font-size: 36px;
        line-height: 46px;
    }

    .news__item {
        gap: 22px;
        margin-left: 11px;
    }

    .news__item .news__item-img {
        margin-bottom: 18px;
    }

    .news__item .blue-text {
        margin-bottom: 0;
    }

    .news__item .news__item-title {
        font-size: 23px;
        line-height: 34px;
    }

    .news__item:nth-last-child(-n+2) {
        margin-top: 13px;
    }

    .news__item:nth-last-child(-n+2) .news__item-img {
        margin-bottom: 12px;
    }

    .page-footer {
        padding: 130px 60px 150px 60px;
    }

    .page-footer .logo-img {
        width: 170px;
        height: 48px;
        margin-bottom: 30px;
    }

    .page-footer__text {
        font-size: 15px;
        line-height: 25px;
        max-width: 290px;
    }

    .page-footer .container {
        gap: 154px;
    }

    .page-footer__part-title {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 22px;
    }

    .page-footer__links {
        gap: 207px;
    }

    .page-footer__group-links {
        gap: 0;
    }

    .page-footer__link {
        font-size: 15px;
        line-height: 37.5px;
    }
}